*{
    font-family: Arial, Helvetica, sans-serif;
}
.notes-cont{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.single-note{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all ease 0.3s;
}
.single-note:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
.tools{
    transition: all ease 0.2s;
}
.single-note:hover .tools{
    display: block;
}
.tools:focus{
    display: block;
}