*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.main{
    height: 100vh;
    background-color: #220430;
    color: #fff;
}

.header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.date-cont{
    padding: 10px;
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

.date-name{
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-bottom: 16px;
    font-weight: bold;
}

.sub-cont{
    border: 2px solid #fff;
    padding: 16px;
}

.date-value{
    font-size: 38px;
    margin: 0;
    text-align: center;
    font-weight: 600;
}