.btn_back{
    background-color: blueviolet;
    color: white;
    font-size: 22px;
    width: 150px;
    padding: 5px;
}

.redDiant{
    width: 500px;
    height: 500px;
    background-color: #ff0808;
    margin: auto;
}